* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body {
    background-color: rgba(134, 123, 140, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.error{
    color:red;
}

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 80px;

}

.contact-form {
    width: 80%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form h1,
.contact-form h2 {
    text-align: center;
}

.contact-form p {
    color: black;
    text-align: center;
    margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
    background-color: rgba(134, 123, 140, 0.1);
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border: none;
    border-bottom: 5px solid lightgrey;
}

input:focus {
    border: none;
}

.contact-form .submit {
    border: none;
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 1rem 1rem;
    text-align: center;
    cursor: pointer;
    margin-top: 0.1rem;
    width: 200px;
    align-self: center;
}

.g-recaptcha {
    margin-top: 2rem;
}

.submit{
    font-size:16px;
    transition:all 0.3s ease;
}

.submit:hover {
    opacity: 0.8;
    transform: scale(1.1);
    font-size:18px;
}


@media(max-width:768px) {
    .contact-form {
        width: 100%;
    }

    .contact-form h2{
        font-size:20px;
    }

    .submit:hover {
        opacity: 0.8;
        transform: scale(1.01);

    }
}