.popup {
    width: 400px;
    background: rgb(22, 22, 22);
    border-radius: 6px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    z-index: 3000;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}

.popup h2 {
    color: white;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background: white;
    color: black;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

@media(max-width:768px) {
    .popup {
        width: 300px;
    }
}